<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
                <title>{% block title %}{{ _('Megano') }}{% endblock title %}</title>
          <meta name="description" content="Описание страницы">
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
          <link href=" {{ static('favicon.ico') }} " rel="shortcut icon">
          <link rel="preload" href="{{ static('assets/fonts/Roboto/Roboto-Regular.woff') }}" as="font">
          <link rel="preload" href="{{ static('assets/fonts/Roboto/Roboto-Italic.woff') }}" as="font">
          <link rel="preload" href="{{ static('assets/fonts/Roboto/Roboto-Bold.woff') }}" as="font">
          <link rel="preload" href="{{ static('assets/fonts/Roboto/Roboto-Bold_Italic.woff') }}" as="font">
          <link rel="preload" href="{{ static('assets/fonts/Roboto/Roboto-Light.woff') }}" as="font">
          <link rel="preload" href="{{ static('assets/fonts/Roboto/Roboto-Light_Italic.woff') }}" as="font">
          <link rel="stylesheet" href="{{ static('assets/css/fonts.css') }}">
          <link rel="stylesheet" href="{{ static('assets/css/basic.css') }}">
          <link rel="stylesheet" href="{{ static('assets/css/extra.css') }}">
          <link rel="stylesheet" href="{{ static('magnific-popup/magnific-popup.css') }}">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock  %}
</head>

<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
{% include 'base_templates/header.html' %}
  {% block banners %}
      {# swiper banners #}
  {% endblock %}

 {%  block content %}
     {# mian content #}
 {% endblock content %}

{% include 'base_templates/footer.html' %}

</body>
</html>
