{%  extends 'base_templates/base.html'  %}
{% block title %}{{ _('Восстановление пароля') }}{% endblock title %}
{% block content %}
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h3 class="Middle-title">{{ _('Восстановление пароля') }}</h3>
        </div>
      </div>
    </div>
    <div class="wrap-content">
    <form class="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <p>
      <label for="id_email">Email:</label>
      {% if not form.errors.email %}
         <input type="email" name="email" required id="id_email">
      {% else  %}
        <input class="form-input_error" type="email" name="email" required id="id_email">
        <div class="form-error" >{{  form.errors.email }}</div>
      {% endif %}
    </p>
    <button class="btn btn_success" type="submit">Восстановить</button>
    </form>
    </div>
{% endblock %}


