{%  extends 'base_templates/base.html'  %}
{% block title %}{{ _('Новый пароль') }}{% endblock title %}
{% block content %}
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h3 class="Middle-title">{{ _('Новый пароль') }}</h3>
        </div>
      </div>
    </div>
    <div class="wrap-content">
    <form class="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <p>
      <label for="id_new_password1">{{ _('Новый пароль:') }}</label>
      {% if not form.errors %}
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
      {% else %}
        <input class="form-input_error" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        {{ form.errors.new_password2 }}
      {% endif %}
    </p>

    <p>
      <label for="id_password2">{{ _('Подтверждение пароля:') }}</label>
      {% if not form.errors %}
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
      {% else %}
        <input class="form-input_error" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
      {% endif %}
    </p>
      <button class="btn btn_success" type="submit">Восстановить</button>
    </form>
    </div>
{% endblock %}


