{%  extends 'base_templates/base.html'  %}
{% block title %}{{ _('Личный кабинет') }}{% endblock title %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title"> {{ _('Личный кабинет') }}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{{ url('index') }}"> {{ _('Домой') }}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{{ _('Личный кабинет') }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
         {# НАВИГАЦИЯ #}
          {% include 'base_templates/navigation.html' %}
          {# ============ #}
        <div class="Section-content">
          <div class="Account">
            <div class="Account-group">
              <div class="Account-column">
                <div class="Account-avatar">
                    {% if client.photo %}
                    <img src="{{ client.photo.url }}" alt="{{ client.user.username }}"/>
                    {% else %}
                       <img src="{{ static('assets/img/icons/user_icon_no_ava.svg') }}" alt="user_icon.svg"/>
                    {% endif %}
                </div>
              </div>
              <div class="Account-column">
                <div class="Account-name">
                        {{ client.user.last_name }} {{ client.user.first_name }} {{ client.patronymic }} ({{ _('Ваш логин: ') }}{{ client.user.username }})
                </div><a class="Account-editLink" href="{{ url('profile_edit', kwargs={'pk': request.user.pk }) }}">{{ _('Редактировать профиль') }}</a>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <div class="Order Order_anons">
                  <div class="Order-personal">
                    <div class="row">
                        {# Тут доделать когда будет Заказ и история заказов сделана #}
                      <div class="row-block"><a class="Order-title" href="#">Заказ&#32;<span class="Order-numberOrder">№200</span>&#32;от&#32;<span class="Order-dateOrder">21.07.2020</span></a>
                        <div class="Account-editLink"><a href="#">{{ _('История заказов') }}</a>
                        </div>
                      </div>
                      <div class="row-block">
                        <div class="Order-info Order-info_delivery">
                            {# Тут тоже когда будет доп инфа #}
                          <div class="Order-infoType">{{ _('Тип доставки:') }}
                          </div>
                          <div class="Order-infoContent">Обычная доставка
                          </div>
                        </div>
                        <div class="Order-info Order-info_pay">
                          <div class="Order-infoType">Оплата:
                          </div>
                          <div class="Order-infoContent">Онлайн картой
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">Общая стоимость:
                          </div>
                          <div class="Order-infoContent">200.99$
                          </div>
                        </div>
                        <div class="Order-info Order-info_status">
                          <div class="Order-infoType">Статус:
                          </div>
                          <div class="Order-infoContent">Не оплачен
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <header class="Section-header">
                  <h2 class="Section-title">{{ _('История просмотров') }}
                  </h2>
                </header>
                <div class="Cards Cards_account">
                 {%  if list_item_views %}
                    {% for item in list_item_views %}
                        <div class="Card">
                    <a class="Card-picture" href="{{ url('products:product-detail', kwargs = {'pk': item.pk}) }}">
                        {# Тут выводим первую фотографию товара #}
                        {% for photos in  item.productphoto_set.all() %}
                            {% if loop.first %}
                                <img src=" {{ photos.photo.url }}" alt="{{ photos.photo }} "/>
                            {% endif %}
                        {% endfor %}
                    </a>
                  <div class="Card-content">
                    <strong class="Card-title"><a href="{{ url('products:product-detail', kwargs = {'pk': item.pk}) }}">{{ item.name }}</a>
                    </strong>
                        <div class="Card-description">
                              <div class="Card-cost"><span class="Card-priceOld">{{ item.price }}</span><span class="Card-price">$85.00</span>
                              </div>
                            <div class="Card-category">{{ item.category }}
                            </div>

                          <div class="Card-hover"><a class="Card-btn" data-history_item_pk='{{ item.pk }}' href="#"><img src="{{ static('assets/img/icons/card/bookmark.svg')}}" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="{{ static('assets/img/icons/card/cart.svg') }}" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="{{ static('assets/img/icons/card/change.svg') }}" alt="change.svg"/></a>
                          </div>
                        </div>
                  </div>
                  <div class="Card-sale">-60%</div>
                </div>
                    {% endfor %}
                     <div class="Account-editLink Account-editLink_view"><a href="{{ url('history_user', kwargs={'pk': client.pk }) }}">{{ _('Перейти на полный список') }}</a>
                 {% else %}
                <h3 class="Middle-title">{{ _('Просмотренныех товаров еще нет!') }}</h3>
                 {% endif %}
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}