{%  extends 'base_templates/base.html'  %}
{% block title %}{{ _('Личный кабинет') }}{% endblock title %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title"> {{ _('Личный кабинет') }}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{{ url('index') }}"> {{ _('Домой') }}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{{ _('Личный кабинет') }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
         {# НАВИГАЦИЯ #}
          {% include 'base_templates/navigation.html' %}
          {# ============ #}
        <div class="Section-content">
          <div class="Account">
            <div class="Account-group">
              <div class="Account-column">
                <div class="Account-avatar">
                    {% if client.photo %}
                    <img src="{{ client.photo.url }}" alt="{{ client.user.username }}"/>
                    {% else %}
                       <img src="{{ static('assets/img/icons/user_icon_no_ava.svg') }}" alt="user_icon.svg"/>
                    {% endif %}
                </div>
              </div>
              <div class="Account-column">
                <div class="Account-name">
                        {{ client.user.last_name }} {{ client.user.first_name }} {{ client.patronymic }} ({{ client.user.username }})
                </div><a class="Account-editLink" href="{{ url('profile-edit', kwargs={'pk': request.user.pk }) }}">{{ _('Редактировать профиль') }}</a>
              </div>
            </div>
          {%  if order_last %}
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <div class="Order Order_anons">
                    <div class="Order-personal">
                    <div class="row">
                      <div class="row-block"><a class="Order-title" href="{{ url('order-detail', kwargs={'pk': order_last.pk }) }}">{{ _('Заказ') }}&#32;<span class="Order-numberOrder">№{{ order_last.number_order }}</span>&#32;{{ _('от') }}&#32;<span class="Order-dateOrder">{{ order_last.created_dt }}</span></a>
                        <div class="Account-editLink"><a href="{{ url('orders') }}">{{ _('История заказов') }}</a>
                        </div>
                      </div>

                      <div class="row-block">
                        <div class="Order-info Order-info_delivery">
                            {# Тут тоже когда будет доп инфа #}
                          <div class="Order-infoType">{{ _('Тип доставки:') }}
                          </div>
                          <div class="Order-infoContent">{{ order_last.delivery }}
                          </div>
                        </div>
                        <div class="Order-info Order-info_pay">
                          <div class="Order-infoType">{{ _('Оплата:')}}
                          </div>
                          <div class="Order-infoContent">{{ order_last.payment }}
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">{{ _('Общая стоимость:') }}
                          </div>
                          <div class="Order-infoContent"> {{ order_last.total_price }} {{ _('руб.') }}
                          </div>
                        </div>
                        <div class="Order-info Order-info_status">
                          <div class="Order-infoType">{{ _('Статус:') }}
                          </div>
                          <div class="Order-infoContent">
                              {% if order_last.status_pay %} {{ _('ОПЛАЧЕН') }}
                              {% else %} {{ _('НЕ ОПЛАЧЕН') }}
                              {% endif %}
                          </div>

                        </div>

                        {% if order_last.error_pay %}
                                 <div class="Order-info Order-info_error">
                                      <div class="Order-infoType">{{ _('Оплата не прошла:') }}
                                      </div>
                                      <div class="Order-infoContent">
                                          {{ order_last.error_pay }}
                                      </div>
                                </div>
                            {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
                 <header class="Section-header">
                  <h2 class="Section-title">{{ _('История Заказов') }}
                  </h2>
                </header>
                    <div class="Cards Cards_account">
                        <h3 class="Middle-title Title_no_order" >{{ _('Заказов еще нет') }}</h3>
                    </div>
          {% endif %}
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <header class="Section-header">
                  <h2 class="Section-title">{{ _('История просмотров') }}
                  </h2>
                </header>
              {%  if list_item_views %}
                <div class="Cards Cards_account">
                    {% for item in list_item_views %}
                        <div class="Card">
                    <a class="Card-picture" href="{{ url('products:product-detail', kwargs = {'pk': item.pk}) }}">
                        {# Тут выводим первую фотографию товара #}
                        {% for photos in  item.product_photo.all() %}
                            {% if loop.first %}
                                <img src=" {{ photos.photo.url }}" alt="{{ photos.photo }} "/>
                            {% endif %}
                        {% endfor %}
                    </a>
                  <div class="Card-content">
                    <strong class="Card-title"><a href="{{ url('products:product-detail', kwargs = {'pk': item.pk}) }}">{{ item.name }}</a>
                    </strong>
                        <div class="Card-description">
                                    {% for min_price_in_shop in item.shop_product.all()|sort(attribute='price_in_shop', reverse=False)  %}
                                          {% if loop.first %}
                                            <div class="Card-cost">
                                              {% if item.promotion_group.promotion %}
                                              {% set price_float = min_price_in_shop.price_in_shop|float %}
                                              <div class="ProductCard-price">{{ price_float - (price_float * (item.promotion_group.promotion.discount/100.00)) }} </div>
                                              <div class="ProductCard-priceOld">{{ min_price_in_shop.price_in_shop }}</div>
                                              {% else %}
                                              <div class="ProductCard-price">{{ min_price_in_shop.price_in_shop }}</div>
                                            {% endif %}
                                            </div>
                                          <div class="Card-category">{{ item.category }}
                                          </div>

                                          <div class="Card-hover">
                                            <a class="Card-btn expand" data-history_item_pk = "{{ item.pk }}" href="{{ item.product_photo.all()[0].photo.url }}">
                                            <img src="{{ static('assets/img/icons/card/bookmark.svg')}}" alt="bookmark.svg"/></a>
                                                   <a class="Card-btn add-button add-button-pulse" data-value="{{ item.id}}" data-shop="{{ min_price_in_shop.pk }}" >
                                          {% endif %}
                                    {% endfor %}
                                      <img src="{{ static('assets/img/icons/card/cart.svg') }}" alt="cart.svg"/>
                                    </a>
                                    <a class="Card-change add-compare" data-product="{{ item.id }}" data-key="{{ request.session.session_key }}">
                                          <img src="{{ static('assets/img/icons/card/change.svg') }}" alt="change.svg"/>
                                    </a>
                                  </div>
                                </div>
                  </div>
                  {% if item.promotion_group.promotion %}
                          <div class="Card-sale">-{{item.promotion_group.promotion.discount }}%</div>
                        {% endif %}
                </div>
                    {% endfor %}
                </div>
                     <div class="Account-editLink Account-editLink_view"><a href="{{ url('history_user', kwargs={'pk': client.pk }) }}">{{ _('Перейти на полный список') }}</a></div>
                 {% else %}
                <h3 class="Middle-title">{{ _('Просмотренныех товаров еще нет!') }}</h3>
                </div>
              {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Jinja2 токен csrf_token #}
             <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}
