{%  extends 'base_templates/base.html'  %}

{% block content %}
<h1>{{ _('Текст') }}</h1>
 {% for product in products %}
    <div class="Section-content">
        <div class="Card"><a class="Card-picture" href="{{ product.href }}"><img src="{{ product.photo.url }}" alt="card.jpg"/></a>
          <div class="Card-content">
            <strong class="Card-title"><a href="#">{{ product.name }}</a>
            </strong>
            <div class="Card-description">
              <div class="Card-cost"><span class="Card-priceOld">{{ product.old_price }}</span><span class="Card-price">{{ product.new_price }}</span>
              </div>
              <div class="Card-category">Digital / xbox
              </div>
              <div class="Card-hover"><a class="Card-btn" href="#"><img src="{{ static ('assets/img/icons/card/bookmark.svg') }}" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="{{ static ('assets/img/icons/card/cart.svg') }}" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="{{ static ('assets/img/icons/card/change.svg') }}" alt="change.svg"/></a>
              </div>
            </div>
          </div>
        <div class="Card-sale">{{ product.sale }}</div>
        </div>
    </div>
 {% endfor %}
{% endblock %}
