{%  extends 'base_templates/base.html'  %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{{ _('О компании Megano') }}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">{{ _('домой') }}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{{ _('о нас') }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ static ('assets/img/icons/advantages/shipping.svg') }}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{{ _('Доставка и возврат') }}
                </strong>
                <p class="media-text">{{ _('Доставка по всему миру') }}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ static ('assets/img/icons/advantages/moneyBack.svg') }}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{{ _('Возврат денег') }}
                </strong>
                <p class="media-text">{{ _('Гарантированные платежи') }}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ static ('assets/img/icons/advantages/support.svg') }}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{{ _('Политика поддержки') }}
                </strong>
                <p class="media-text">{{ _('Быстрая команда поддержки') }}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{{ static ('assets/img/icons/advantages/quality.svg') }}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{{ _('Гарантия качества') }}
                </strong>
                <p class="media-text">{{ _('Лучшие товары с гарантией') }}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{{ static ('assets/img/icons/contacts/phone.svg') }}" alt="phone.svg"/>
              </div>
              <div class="media-content">Phone:&#32;
                <nobr>+8 (200) 800-2000-600</nobr><br>Mobile:&#32;
                <nobr>+8 (200) 800-2000-650</nobr>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{{ static ('assets/img/icons/contacts/address.svg') }}" alt="address.svg"/>
              </div>
              <div class="media-content">
                Megano Business Center,
                0012 United States, Los Angeles
                Creative Street 15/4
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{{ static ('assets/img/icons/contacts/mail.svg') }}" alt="mail.svg"/>
              </div>
              <div class="media-content">General: hello@ninzio.com<br>Editor: editor@ninzio.com
              </div>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Follow Us
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{{ static ('assets/img/icons/socialContent/fb.png') }}" alt="fb.png"/>
                </div>
                <div><img src="{{ static ('assets/img/icons/socialContent/tw.png') }}" alt="tw.png"/>
                </div>
                <div><img src="{{ static ('assets/img/icons/socialContent/gg.png') }}" alt="gg.png"/>
                </div>
                <div><img src="{{ static ('assets/img/icons/socialContent/in.png') }}" alt="in.png"/>
                </div>
                <div><img src="{{ static ('assets/img/icons/socialContent/pt.png') }}" alt="pt.png"/>
                </div>
                <div><img src="{{ static ('assets/img/icons/socialContent/ml.png') }}" alt="ml.png"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content" style="padding: 20px 25px;">

          <div class="Slider Slider_main">
              <div class="Slider-box">
                  {% if len(photos) %}
                    {% for photo in photos %}
                      <div class="Slider-item">
                        <div class="Slider-content">
                          <div class="row">
                            <div class="row-block">
                              <strong class="Slider-title"> {{ shop.name }}</strong>
                              <div class="Slider-text">{{ shop.description }}</div>
                            </div>
                            <div class="row-block">
                              <div class="Slider-img"><img src="{% if photo %}{{ photo }} {% else %} {{ static('assets/img/logo.png') }}{% endif %}" alt="{{ photo }}"/></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="Slider-item">
                      <div class="Slider-content">
                        <div class="row">
                          <div class="row-block">
                            <strong class="Slider-title"> {{ shop.name }}</strong>
                            <div class="Slider-text">{{ shop.description }}</div>
                          </div>
                          <div class="row-block">
                            <div class="Slider-img"><img src="{% if photo %}{{ photo }} {% else %} {{ static('default.png') }}{% endif %}" alt="{{ photo }}"/></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </div>
              <div class="Slider-navigateWrap">
                <div class="Slider-navigate">
                </div>
              </div>
            </div>


          <div class="row row_verticalCenter row_maxHalf">
            <div class="row-block">
              <h2>{{ _('Информация о магазине') }} {{ shop.name }}
              </h2>
              <p>{{ shop.description }}
              </p>
              <ul>
                <li>{{ _('Адрес: город ') }} {{ shop.city }}
                </li>
                <li>{{ _('улица') }} {{ shop.street }}, {{ shop.house_number }}
                </li>
                <li>{{ _('телефон') }}: {{ shop.phone }}
                </li>
                <li>{{ _('email') }}: {{ shop.email }}
                </li>
                <li>{{ _('рейтинг') }}: {{ shop.rating }}
                </li>
                <li>{{ _('акции') }}: {{ shop.promotion }}
                </li>
              </ul>
            </div>
          </div>
          <div class="row row_verticalCenter row_maxHalf">
            <div class="row-block">
          {% import 'base_templates/products.html' as product_viewer %}
          {{ product_viewer.view_product_list(products, product_viewer.view_product, promotion_service, 'Популярные товары', request.session.session_key) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}